<div class="container">
    <section>
        <div class="row">
            <div class="col-md-4">
                <img class="main-img" *ngIf="book" [src]='book?.imageUrl' />
            </div>
            <div class="col-md-8">
                <h2>{{book?.name}}</h2>
                <div class="price text-success">{{book?.price | currency:'USD':true}}</div>
                <br />
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Description</h4>
                        </div>
                        <div class="panel-body">{{book?.description}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Specifications</h4>
                        </div>
                        <div class="panel-body">{{book?.specifications}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Release Date</h4>
                        </div>
                        <div class="panel-body">{{book?.releaseDate}}</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">Genre</h4>
                        </div>
                        <div class="panel-body">{{book?.genre}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- /container -->
